{% extends 'divesites/base.html' %}

{% block title %}{{ location.location_name }}{% endblock title %}

{% block content %}

<div class="w3-container">
    <div class="w3-container">
        <h2>{{ location.location_name }}</h2>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col s6">
            <div class="w3-panel w3-card w3-round">
                <h2>Description</h2>
                {% if location.description %}
                {{location.description}}
                {% else %}
                <p>There doesnt seem to be a description for this site</p>
                <p>If you're familiar with it feel free to suggest one to our admins</p>
                {% endif %}
            </div>
        </div>
        <div class="w3-col s6">
            <div class="w3-panel w3-card w3-round">
                <h2>Weather</h2>
                <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=siteMap"></script>
            </div>
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col s6">
            <div class="w3-panel w3-card w3-round">
                <h2>Site Info</h2>
                <p>Address: {{ location.address }}</p>
                <p>Water type: {{ location.get_water_type_display }}</p>
                <p>Water access: {{ location.get_water_access_display }}</p>
                <p>Parking cost: {{ location.parking_cost }}</p>
                <p>Dive cost: {{ location.dive_cost }}</p>
                <p>On site medical equipment: {{ location.get_medical_display }}</p>
            </div>
        </div>
        <div class="w3-col s6">
            <div class="w3-panel w3-card w3-round">
                <h2>Map</h2>
                <iframe title="Googlemap"
                        width="100%"
                        height="450"
                        style="border:0"
                        src="https://www.google.com/maps/embed/v1/search?q=Trefor,+Caernarfon,+UK&key={{ api_key }}"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col s6">
            <div class="w3-panel w3-card w3-round">
                <h2>Contact details</h2>
                <p>Phone number: {{ location.contact_phone }}</p>
                <p>Email: <a>{{ location.contact_email }}</a></p>
                <p>Website: <a>{{ location.contact_website }}</a></p>
            </div>
        </div>
        <div class="w3-col s6">
            <div class="w3-panel w3-card w3-round">
                <h2>Tide</h2>
                <iframe title="tides" width="100%" height="100%" style="border:0"
                        src="https://www.worldtides.info/api?extremes&lat=52.998857&lon=-4.423768&key=2103f18d-5c58-4bb9-a6bf-3cdde4a9b42a"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>

{% endblock content %}