{% extends 'divesites/base.html' %}

{% block title %}Divesites{% endblock title %}

{% block content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-6 text-left">
            <h1>Fresh water sites</h1>
            <ul>
                {% for location in latest_location_list %}
                {% if location.water_type == 'FW' %}
                <h3><a href="{% url 'divesites:detail' location.id %}">{{ location.location_name }}</a></h3>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6 text-left">
            <h1>Salt water sites</h1>
            <ul>
                {% for location in latest_location_list %}
                {% if location.water_type == 'SW' %}
                <h3><a href="{% url 'divesites:detail' location.id %}">{{ location.location_name }}</a></h3>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
